@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1E1E25;
}

.keys-operator-bttns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 7px;
}
.sect-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 15px;
    margin-top: 2%;
    border-radius: 14px;
    width: 500px;
    background-color: #18181E;
}
.display_result{
    font: 37px 'Archivo', sans-serif, arial;
    text-align: right;
    padding: 8px;
    margin: 5px 0px 15px 0px;
    width: 94%;
    height: 61px;
    border-radius: 2px;
    background-color: #fff;
}
.key-operator,  .operator, .num-bttn{
    width: 115px;
    height: 62px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    font: 23px 'Archivo', sans-serif;
}
.key-operator:hover, .operator:hover, .num-bttn:hover{
    background-color: #40404F;
    color: #ffff;
    border: 1px solid #f3eeee;
}
#equal{
    grid-column: span 3;
    width: 100%;
    color: #000000;
    font-weight: bold;
    background-color: #FB8B24;
}
#resetBttn{
    background-color: #A4031F;
    color: #fff;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
footer p{
    color: #ffff;
    margin: auto;
    font-family: 'Archivo';
    font-size: 14px;
}
footer img{
    width: 35px;
    height: 35px;
    background-color: #f7f7f7;
    border-radius: 50%;
}
/*Mobile*/
@media screen and (max-width:600px){
    .sect-calculator{
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background-color: #18181E;
        width: 100vw;
        height: 90vh;
    }
    .key-operator,  .operator, .num-bttn{
        width: 120px;
        height: 70px;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        background-color: #ffffff;
        font: 25px 'Archivo', sans-serif;
    }
    .keys-operator-bttns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .display_result{
        font: 37px 'Archivo', sans-serif, arial;
        text-align: right;
        padding: 15px;
        margin: 5px;
        margin-bottom: 15px;
        width: 90%;
        height: 90vh;
        border-radius: 2px;
    }

    #equal{
        width: 100%;
        height: 70px;
        color: #000000;
        font-weight: bold;
        background-color: #FB8B24;
    }

    footer div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bttn-zero{
        grid-column: span 2;
        width: 100%;
    }
}