@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1E1E25;
}

.keys-operator-bttns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 11px;
}
.sect-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    padding: 10px;
    width: 470px;
    background-color: #18181E;
}
.display_result{
    font: 35px 'Archivo', sans-serif;
    text-align: right;
    padding: 6px;
    margin: 6px;
    margin-bottom: 15px;
    width: 95%;
    height: 61px;
    border-radius: 4px;
    background-color: #fff;
}
.key-operator,  .operator, .num-bttn{
    width: 105px;
    height: 64px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    font: 22px 'Archivo', sans-serif;
}
.key-operator:hover, .operator:hover, .num-bttn:hover{
    background-color: #40404F;
    color: #ffff;
}
#equal{
    grid-column: span 3;
    width: 100%;
    color: #000000;
    font-weight: bold;
    background-color: #FB8B24;
}
#resetBttn{
    background-color: #A4031F;
    color: #fff;
}