@charset 'UTF-8';

.keys-operator-bttns{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 10px;
}

.sect-calculator{
    display: flex;
    justify-items: center;
    margin: auto;
    margin-top: 7%;
    padding: 5px;
    width: 400px;
    border: 2px solid #0000000a;
    border-radius: 3px;
}

.display_result{
    background-color: #f5eeee;
    padding: 10px;
    margin: 8px;
}

.key-operator{
    width: 85px;
    height: 73px;
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 3px;
}

#bttn-zero{
    grid-column: span 2;
    width: 165px;
}